<div class="row">
    <!-- <div class="col col-2">
        <app-filters></app-filters>
    </div> -->
    <div class=" card filters card-header col-md-8">
        <main class="form-signin ">
            <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
              <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          
              <div class="form-floating">
                <input type="email" class="form-control" name="email"  ngModel required  placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
                <div *ngIf="!loginRef.controls['email']?.valid && 
                (loginRef.controls['email']?.dirty || loginRef.controls['email']?.touched)">
                <span [hidden]="!loginRef.controls['email'].errors?.['required'] " style="color:red">Email is required</span>
              
                </div>
              </div>
              <div class="form-floating">
                &nbsp;
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" placeholder="Password" name="password"  ngModel required>
                <label for="floatingPassword">Password</label>
                <div *ngIf="!loginRef.controls['pass']?.valid && 
                     (loginRef.controls['pass']?.dirty || loginRef.controls['pass']?.touched)">

               <span [hidden]="!loginRef.controls['pass'].errors?.['required'] " style="color:red">Password must be requried</span>

          </div>
              </div>
          
              <div class="checkbox mb-3">
                <label>
                  <!-- <input type="checkbox" value="remember-me"> Remember me -->
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginRef.invalid">Login</button>
              <a class="me-3 py-2 text-dark text-decoration-none " routerLink="/sign-up"><p class="mt-5 mb-3 text-primary ">Sign up if don't have account</p></a>   
            </form>
          </main>
          
    </div>
</div>
