<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2022–2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/">Random feature</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/contact-us">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/contact-us">Contact Us</a></li>

        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/about-us">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/about-us">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/about-us">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/about-us">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>