<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" routerLink="/dashboard">Products</a>
      <a class="p-2 link-secondary" routerLink="/add-product">Add Products</a>
      <a class="p-2 link-secondary" routerLink="/users">Users</a>
      <a class="p-2 link-secondary" routerLink="/orders">Orders</a>
      <a class="p-2 link-secondary" routerLink="/reports">Reports</a>
    </nav>
  </div>
    
  <div class="p-5 mb-2 bg-light rounded-3" ><h1 class="display-5 fw-bold">All Orders</h1></div>
  <div class="p-5 mb-2 bg-light rounded-3" *ngFor="let Orders of orderData">
    <div class="container-fluid py-5">
      <div class="py-1 mb-2" >
        
        <p class="col-md-8 fs-4"><strong> Order ID</strong>:{{Orders['_id']}}</p> 
       <p class="col-md-8 fs-4"><strong> Order Date</strong>:{{Orders['Date']}}</p>
       <p class="col-md-8 fs-4"><strong> Order Amount</strong>:{{Orders['amount']}}</p>
       <p class="col-md-8 fs-4"><strong> User Id</strong>:{{Orders['userId']}}</p>
    
      <p class="col-md-8 fs-4"><strong><a routerLink="/orderInfo/{{Orders['_id']}}" >Click for Order details</a></strong></p> 
      </div>
  
    </div>
    </div>
  

